.shopping-cart {
  padding: 10px 30px;
  min-height: 60vh;
}

.notice-box {
  text-align: center;
  color: var(--primary-color);
  background: var(--background-alt);
  padding: 15px;
  font-family: var(--primary-font);
  font-size: 0.9rem;
  font-style: italic;
}
