.category-page-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  padding: 0px 50px;
}

.category-title {
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 2.7rem;
  color: var(--primary-color);
  font-weight: 300;
  margin-bottom: 15px;
}

.category-description {
  font-family: var(--primary-font);
  font-size: 0.9rem;
  color: var(--primary-color);
  font-weight: 400;
  text-align: center;
}

.category-products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 0px;
}

.category-product-container {
  margin: 20px;
}

@media only screen and (max-width: 780px) {
  .category-products-container {
    grid-template-columns: 1fr;
  }
}
