:root {
  --background-alt: #ecccbf;
  --primary-color: #565a6e;
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Lora", serif;
  --letter-spacing: 0.05em;
  --background: #fafafa;
  --secondary-color: #e5e5e5;
  --accordion-color: #a1a2ad;
}

body {
  margin: 0;
}
